* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-general: 2px;
    --border-general: 1px solid rgb(0 0 0 / 0.2);
    s
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 50px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 400px;
    border: var(--border-general);
    padding: 5px;
    color: white;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;

}

main img {
    width: 150px;
    height: auto;
    padding: var(--padding-general);
    border: 1px solid steelblue;
    box-shadow: 0 0 50px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

footer {
    margin-top: 10px;
    border-top: 1px solid rgb(0 0 0 / 0.2);
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: 10px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    background-color: black;
    color: white;
    clear: right;
}

aside h2 {
    position: absolute;
    top: 65px;
    left: 90px;
}